.container {
    /* width: 800px; */
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}
pre {
    padding: 20px;
    font-size: 16px;
    border-left: 5px solid #000;
    background-color: #eee;
}
hr {
    color: #eee;
    width: 100%;
}

table {
    width: 100%;
    /* border-collapse: collapse; */
    border-spacing: 2px;
}
table th {
    text-align: left;
    background-color: #ccc;
}
table tr {
   background-color: #eee; 
}
table th,td {
    padding: 6px 8px;
}

.clearfix {
    clear: both;
}