.box {
    width: 1400px;
    margin: 20px auto;
    border: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #eee;
    box-shadow: 0 0 20px #000;
    display: flex;
}

.game {
    width: 1000px;
    height: 800px;
    margin: 10px;
    background-color: #fff;
    position: relative;
}

.control {
    flex: 1;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    padding-top: 50px;
}

.game div {
    width: 20px;
    height: 20px;
    background-color: red;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
}

.control span {
    font-size: 20px;
    margin-top: 50px;
}

.control div {
    margin-top: 35px;
}

.control div button {
    width: 100px;
    margin: 20px;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 20px;
}

.control div button:focus {
    outline: none;
}

.control div button:hover {
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 20px #eee;
}

.reminder {
    padding: 25px 0px;
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(97, 94, 94);
}

.reminder div {
    margin: 0px;
    padding-bottom: 40px;
}
.reminder div span {
    width: 50px;
    margin: 40px;
}

.game div[class='sankeBody']:nth-child(2n) {
    background-color: rgb(165, 154, 154);
}
.game div[class='sankeBody']:nth-child(2n + 1) {
    background-color: rgb(37, 35, 35);
}
.game div[class='sankeBody']:nth-child(1) {
    background-color: rgb(204, 43, 43);
}
